.toggle {
  font-size: 0;
  width: 50px;
  height: 30px;
  background-image: url("../img/icon-menu-burger.svg");
  background-color: rgba(10, 18, 43, 0.39);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  @media screen and (min-width: $large-screen) {
    display: none;
  }
}
