.contacts__wrapper {
  padding: 20px;

  @media screen and (min-width: $large-screen) {
    margin: 0 auto;
    width: 960px;
  }
}

.contacts__title {
  text-align: center;
  font-size: 24px;
  color: $main-blue;

  @media screen and (min-width: $tablet-screen) {
    padding: 0 50px;
    font-size: 40px;
    font-weight: lighter;
  }

  @media screen and (min-width: $large-screen) {
    padding: 0 250px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;

  @media screen and (min-width: $tablet-screen) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $large-screen) {
    flex-wrap: nowrap;
  }
}

.contacts__item {
  @media screen and (min-width: $tablet-screen) {
    width: 40%;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: $large-screen) {
  .contacts__item:first-child {
    order: 1;
  }
}

.contacts__text {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: $main-blue;
  text-align: center;
}

.contacts__link {
  display: block;
  font-size: 24px;
  color: $main-pink;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 20px;
}
