.main-nav {
  width: 100%;
}

.main-nav__wrapper {
  padding: 0;
  margin: 0;

  @media screen and (min-width: $large-screen) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__item {
  padding: 20px;
  border-bottom: 1px solid black;
  background-color: rgba(10, 18, 43, 0.39);
}

.main-nav__header {
  display: flex;
  justify-content: space-between;
}

.main-nav__header-icon {
  display: none;

  @media screen and (min-width: $tablet-screen) {
    display: block;
  }
}
