.promo-research {
  @media screen and (min-width: $large-screen) {
    background-color: $white-grey;
  }
}

.promo-research__content {
  @media screen and (min-width: $tablet-screen) {
    width: 300px;
  }

  @media screen and (min-width: $large-screen) {
    width: 50%;
  }
}

.promo-research__wrapper {
  display: none;

  @media screen and (min-width: $tablet-screen) {
    display: flex;
    flex-direction: row;
    padding: 50px 20px;
    justify-content: space-between;
  }

  @media screen and (min-width: $large-screen) {
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
  }
}

.promo-research__title {
  font-size: 30px;
  font-weight: bold;
}

.promo-research__text {
  font-size: 14px;
  line-height: 26px;
}

.promo-research__link {
  color: $main-pink;
  cursor: pointer;
  border-bottom: 1px solid $main-pink;
}
